<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!--  <error-page>-->
<!--    <exception-type>java.lang.Exception</exception-type>-->
<!--    <location>Error.jsp</location>-->
<!--  </error-page>-->

  <welcome-file-list>
    <welcome-file>user-form.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>todo</servlet-name>
    <servlet-class>usermanagment.web.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>todo</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>

